/*----------------------------------------------------
custom.css
@Author: Noemi Leon

Table of Content
- Colors
- General
- Header
- Main Section
- Skills Section
- Portfolio Section
---------------------------------------------------- */

/*
==============================================
			COLORS
==============================================
*/
:root{
    --color-principal: #f7cd00; /*093aaa*/
    --color-secundario: #dab501/*#00C5FF*/;
    --brown-leather:#AB987A;
    --color-aux: #f2f2f2; /*0A4B8D*/
    --color-text:#f7cd00;
}
/*
/*
==============================================
			GENERAL
==============================================
*/

.sect{
    padding-top: 40px;
    padding-bottom: 40px;
}
h3.sect-title{
    color: var(--color-principal);
    text-transform: uppercase;
    font-size: 38px;
    line-height: 55px;
    margin-bottom: 15px;
}
h4.sect-subtitle{
    opacity: 0.8;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px
}
/* .bg-grad{
    background-image: -webkit-linear-gradient(0deg, var(--color-secundario) 0%, var(--color-text) 100%);
    background-image: -ms-linear-gradient(0deg, var(--color-secundario) 0%, var(--color-text) 100%);
}
.bg-grad-b{
    background-image: -webkit-linear-gradient(0deg, var(--brown-leather) 0%, var(--color-text) 100%);
    background-image: -ms-linear-gradient(0deg, var(--brown-leather) 0%, var(--color-text) 100%);
} */
.btn-primary{
    background-color: var(--color-secundario);
    border-color: var(--color-secundario); 
}
.btn-primary:hover,
.btn-primary:active
{
    background-color: var(--color-aux);
    border-color: var(--color-secundario);
    color:var(--color-secundario)
}
.head-content > button > i{
    font-size: 34px;
    color: var(--color-principal);
}
/*
==============================================
			HEADER
==============================================
*/
.header-area .main-menu,
.header-area .main-menu .dropdown-menu{
    background: var(--color-aux);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
.header-area .main-menu .navbar {
    height: 70px;
}
.header-area .main-menu .navbar .nav-link{
    font-size: 14px;
    color: var(--color-text);
    padding: 8px;
}
.header-area .main-menu .navbar .nav-link:hover{
    font-weight: 600;
}

/*
==============================================
			MAIN-INFO SECTION
==============================================
*/
.main-info{
    position: relative;
    z-index: 1;
    padding-bottom: 42px;
    margin-bottom: 58px;
}
.main-info .container{
    border-radius: 12px;
    position: relative;
    bottom: -100px;
    background: #fff;
    padding-top: 28px;
    padding-bottom: 28px;
    box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
}
.main-info .container .img-col .img-container > img{
    width: 90%;
    height: 80%;
}
.main-info .container .txt-col .text-container {
    margin: 20px auto 0 auto;
    width: 90%;
}
.main-info .container .txt-col .text-container h4{
    font-size: 16px;
}
.main-info .container .txt-col .text-container p{
    font-size: 16px;
    color: var(--brown-leather);
    margin-bottom: 20px;
}
.main-info .container .txt-col .text-container ul.basic-info{
    padding-left: 0;
}
.main-info .container .txt-col .text-container ul.basic-info >li{
    margin-bottom: 8px;
}
.main-info .container .txt-col .text-container ul.basic-info >li > i{
    margin-right: 4px;
    color: var(--color-principal);
}
.main-info .container .txt-col .text-container ul.social-nw{
    margin-top: 20px;
    padding-left: 0;
}
.main-info .container .txt-col .text-container ul.social-nw > li{
    margin-right: 20px;
}
.main-info .container .txt-col .text-container ul.social-nw > li  i{
    font-size: 40px;
    color: var(--color-principal);
}
/*
==============================================
			SKILLS SECTION
==============================================
*/
.skill-item{
    margin-bottom: 24px;
}
.skill-item .text{
    margin-bottom: 8px; 
}
.skill-item .progress .progress-bar{
    height: 10px;
    border-radius: 5px;
    vertical-align: middle;
    align-self: center;
    /* background-image: -moz-linear-gradient(0deg, var(--color-secundario) 0%, var(--brown-leather) 100%);
    background-image: -webkit-linear-gradient(0deg,  var(--color-secundario) 0%, var(--brown-leather) 100%);
    background-image: -ms-linear-gradient(0deg, var(--color-secundario) 0%, var(--brown-leather) 100%); */

    background: #f7cd00;
    color: #000;
}
/*
==============================================
			PORTFOLIO SECTION
==============================================
*/
.card-container .card{
    max-width: 360px;
    margin-top: 16px;
}
.card-container .card i{
    font-size: 80px;
    color: var(--color-principal);
}
.card-container .card h5{
    margin-top: 12px;
    margin-bottom: 8px;
    opacity: 0.8;
}